In [1]:
import sys

In [2]:
sys.version

'3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]'

파이썬 자료형(mark down == m)

In [3]:
type('hello')

str

In [4]:
print(10*7)

70

In [5]:
print("hi everyone")

hi everyone

In [6]:
a = 2024
print(a)

2024

In [8]:
b = '여러분'
print(b,'안녕하세요')

여러분 안녕하세요

In [10]:
c = '새해'
print(f"{a}년에도 {c} 복 많이 받으세요!")

2024년에도 새해 복 많이 받으세요!

In [16]:
c = '새해'
print(str(a)+" 년에도",c,"복 많이 받으세요!")

2024 년에도 복 많이 받으세요!

# 표준입력

In [23]:
name = input("이름을 입력하세요: ")
print(name+"님 안녕하세요!")

이름입력: 윤채영
윤채영님 안녕하세요!

In [24]:
birth = input("출생년도를 입력하세요: ")
print(2023-birth,'세 이시군요!')

출생년도를 입력하세요: 2004

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [25]:
birth = input("출생년도를 입력하세요: ")
print(2023-int(birth),'세 이시군요!')

출생년도를 입력하세요: 2004
19 세 이시군요!

In [26]:
name = input("이름을 입력하세요: ")
birth = input("출생년도를 입력하세요: ")
age = 2023 - int(birth)
print('안녕하세요! '+name+'님! '+str(age)+"세이시군요")

이름을 입력하세요: 윤채영
출생년도를 입력하세요: 2005
안녕하세요! 윤채영님! 18세이시군요

## 내장함수

In [27]:
abs(-3)

3

In [28]:
bool('py')

True

## 반복문

In [29]:
for i in range(5):
    print(i * 2)

0
2
4
6
8

In [30]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [31]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [32]:
for i in [10,20,30]:
    print(i)

10
20
30

In [33]:
for i in {10:'십', 20:'이십', 30:'삼십'}:
    print(i)

10
20
30

In [35]:
data = {10:'십', 20:'이십', 30:'삼십'}
for i in data:
    print(data[i])

십
이십
삼십

# 리스트

In [36]:
day = list('월화수목금토일')
day

['월', '화', '수', '목', '금', '토', '일']

In [37]:
day[3]

'목'

In [39]:
day[-3]

'금'

####  슬라이싱(slicing)

In [40]:
day[1:3]

['화', '수']

In [42]:
day[-4:-1]

['목', '금', '토']

In [43]:
day[1:6:2]

['화', '목', '토']

In [44]:
day[-7:-1:2]

['월', '수', '금']

In [45]:
day[:]

['월', '화', '수', '목', '금', '토', '일']

In [46]:
day[::]

['월', '화', '수', '목', '금', '토', '일']

In [47]:
day[::-1]

['일', '토', '금', '목', '수', '화', '월']

In [48]:
day[-1:-8:-2]

['일', '금', '수', '월']

#### ppt

In [49]:
import random

dice = random.randint(1,6)
print(dice)

4

In [51]:
import math

print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

In [52]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [53]:
test_score=[80,70,90,100]
for score in test_score:
    print(score)

80
70
90
100

In [54]:
test_name = ['국어','영어','수학','과학']
for name in test_name:
    print(name)

국어
영어
수학
과학

In [55]:
if(10>0):
    print('안녕하세요')

안녕하세요

In [56]:
password = input('패스워드를 입력하세요: ')
if (int(password) == 12345):
    print('로그인 되었습니다.')
elif (int(password) == 11111):
    print('관리자 권한입니다.')
else:
    print("로그인에 실패하였습니다.")

패스워드를 입력하세요: 12345
로그인 되었습니다.

In [57]:
arr1 =[1,2,3,4,5]
print(type(arr1))

<class 'list'>

In [58]:
arr2 =['월','화','수','목',"금",'토']
print(type(arr2))

<class 'list'>

In [59]:
arr3 = [1,2,3,4,5,'월','화','수','목',"금",'토']
print(type(arr3))

<class 'list'>

In [60]:
arr2 =['월','화','수','목',"금",'토']
print(arr2)

['월', '화', '수', '목', '금', '토']

In [63]:
arr1 =[1,2,3,4,5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [64]:
arr2 =['월','화','수','목',"금",'토']
print(arr2)
print(len(arr2))
arr1.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토']
6